{%extends "layout.html"%}
{%block content%}
<div class="container">
      <h1>Accent Guesser</h1>
      <!-- <form action=""> -->
        <div class="grid-100">
          <p1>Accent Guesser uses over 2000 samples of English speakers
            across the globe and machine learning techniques to guess accents
            based on first language. Can it guess yours?</p1>
          <p1><a href="http://0.0.0.0:8000/record" class='button'>Let's get started!</a></p1>
        </div>
</div>
{%endblock%}
